langchain>=0.3.0
langchain-community>=0.3.0
langchain-groq>=0.2.0
langchain-huggingface>=0.1.0
sentence-transformers>=3.0.0
streamlit>=1.40.0
pydantic>=2.9.2
python-dotenv>=1.0.1
faiss-cpu>=1.9.0
psycopg2-binary>=2.9.10
numpy>=1.24.0
newsapi-python>=0.2.7
llama-index>=0.11.23
llama-index-embeddings-huggingface==0.3.1
llama-index-postprocessor-flag-embedding-reranker==0.2.0
flagembedding==1.2.11
llama-index-retrievers-bm25==0.4.0